{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Case File #221B | Amna Mohammad</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Tailwind CSS -->
  <link href="{% static 'css/main.css' %}" rel="stylesheet">

  <!-- HTMX -->
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>

<body class="bg-noir text-parchment font-sans">

  {% include "portfolio/navbar.html" %}

  <main>
    {% block content %}{% endblock %}
  </main>

</body>
</html>
